.btn {
	padding: 5px 10px;
	cursor: pointer;
	&.btn-border {
		border-radius: $border-radius-md;
	}
	&.btn-tagche {
		background-color: $taghche-color-base;
		color: white;
		&:hover {
			background-color: darken($taghche-color-base, 5);
		}
	}
}
